@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");

@theme {
  --color-secondary-black: rgb(3, 23, 45);
}

body {
  font-family: "Noto Sans Thai", sans-serif;
  background-color: black;
}

.green-light-to-dark {
  background: linear-gradient(rgb(51, 255, 0), rgb(0, 133, 15));
}

.btn-primary-bg-image {
  background: url("https://alpha7s.online/images/theme/button/style_4.webp");
  background-size: 100% 100%;
}

.btn-dark-bg-image {
  background: url("https://alpha7s.online/images/theme/button/style_10.webp");
  background-size: 100% 100%;
}
